*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
overflow: hidden;
    zoom:1; /* Хак для IE 6 и 7 */
}
@textsise: 12px;
@backgroundBlack: #000000;
@backgroundWhite: #ffffff;
@backgroundCap: #29166e;
@Backgroundicons: #e67817;
@Backgrountextgrey: #616161;
.backgrondOrange{
  background: @Backgroundicons;
}
.Colortextorenge{
  color: @Backgroundicons;
}

.retreat{
  margin: 0px auto;
  padding: 0px;
}

.wrapper{
    .retreat;
    width: 1170px;
    text-align: center;
}

.cap{
  background: @backgroundCap;
  .wrapper{
    .cap_soc{
      padding: 5px 10px;
      float: left;
    }
    .contacts{
        float: left;
        margin: 8px auto auto 115px;
        .phone, .map, .mail{
          float: left;
          img{
            margin-right: 3px;
          }
          span{
            color: #f3f3f3;
          }
        }
        .map{
          margin-left: 40px;
          a{
            color: @backgroundWhite;
          }
        }
        .mail{
          margin-left: 30px;
          a{
            color: #87d0fe;
          }
        }
    }
    .regestration{
      float: right;
      ul{
        list-style-type: none;
        li{
          padding: 8px 18px;
          float: left;
          border-right: 1px solid @backgroundWhite;
          &:last-child{
            border-right: none;
          };
          img{
            margin-right: 3px;
          }
          a{
            text-decoration: none;
            font-size: 12px;
            color: white;
            &.Colortextorenge{
              color: @Backgroundicons;
            };
            
          }
        }
      }
    }
  }
}
.header{
  margin-top: 10px;
  .wrapper{
    .nav{
    .logo{
      float: left;
    }
    .menu{
      float: left;
      margin: 17px auto auto 50px;
      ul{
        float: left;
        list-style-type: none;
        li{
          float: left;
          padding: 0px 10px;
          font-size: 12px;
          border-right: 1px solid @backgroundBlack;
          &:last-child{
            border-right: none;
          };
          a{
            text-decoration: none;
            color: @backgroundBlack;
          &.Colortextorenge{
              color: @Backgroundicons;
            };
          &:hover{
            text-decoration: underline;
            color: #29166f;
          };
          }
        }
      }
    }
  }
  .search{
    float: left;
    margin-top: 10px;
    input{
      border: none;
      width: 50px;
    }
  }
  .basket{
    box-shadow: 20px 10px 20px 0px #b5b5b5;
    background: #f9f9f9;
    border: 1px solid black;
    width: 180px;
    float: right;
    .basket_img{
      float: left;
    }
  }
}
}
.main{
  margin-top: 50px;
  .wrapper{
    .left{
      width: 270px;
      float: left;
      text-align: left;
      .dropdown{
        float: left;
        display: none;
        top: 0px;
        margin-left: 225px;
        width: 290px;
        li{
          border: none;
          padding: 5px 10px;
        }

      }
      ul{
        list-style-type: none;
        position: absolute;

        li{
          position: relative;
          padding: 10px 15px;
          border: 1px solid @backgroundBlack;
          margin-bottom: 10px;
        &:hover 
        .dropdown{
          display: block;
        }
        &:hover 
        {background: @Backgroundicons;
        };
        &.first{
            background: @backgroundCap;
            text-align: center;
            a{
              color: @backgroundWhite;
            }
          };
          img{
            margin-right: 10px;
            width: 10px;
          }
          a{
          text-decoration: none;
          color: @Backgrountextgrey;
          font-size: @textsise + 1px;

          }
        }
      }
    }
    .download{
      background: green;
      img{
        float: left;
        position: absolute;
      }
      p{
        float: right;
        position: relative;
      }
    } 
  }
}
